<div class="row">
  <div class="col-1"></div>
  <div class="col-9">

    <a class="btn btn-primary" routerLink="/product/new" style="margin-top:20px;margin-bottom:20px" role="button">New
      Product</a>
    <div class="alert alert-warning" role="alert" *ngIf="products.length==0">
      There are no product available now.
    </div>

    <table class="table" style="margin-top:20px" *ngIf="products.length > 0">
      <thead>
        <tr>

          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.Name}}</td>
          <td>{{product.Price}}</td>
          <td>{{product.CategoryName}}</td>
          <td><a [routerLink]="['/product',product.ProductId]">Edit</a></td>
        </tr>

      </tbody>
    </table>

  </div>
  <div class="col-2"></div>
</div>
